<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%NAME%} | ${%PRICE%} </title>
</head>
<body>
    <div>
        <img src="{%IMAGE%}" alt="{%NAME%}"/>

        <h1>{%NAME%}</h1>

        <ul>
            <li>
                <span>Price:</span>
                <span>{%PRICE%}</span>
            </li>

            <li>
                <span>Quantity:</span>
                <span>{%QUANTITY%}</span>
            </li>
        </ul>
    </div>
</body>
</html>